
// Normalize.css 8.0.1
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #bbb;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}